# --- Security & Credentials ---
.env
*.json
!package.json
!tsconfig.json
!composer.json
# Root .gitignore
**/firebase-service-account.json
.env

# --- Python / Django ---
__pycache__/
*.py[cod]
*$py.class
.python-version
.venv/
venv/
ENV/
env/
db.sqlite3
/static/
/staticfiles/
/media/
*.log